#messageBox {
    -fx-background-color: white;
    -fx-fill-height: 100%;
    -fx-fill-width: 100%;
    -fx-font-size: 30;
}

#setView {
    -fx-background-color: white;
}

#scrollArea {
    -fx-background-color: transparent;
}

#scrollArea > .viewport {
    -fx-background-color: transparent;
}