#root {
    -fx-background-color: linear-gradient(white, darkblue);
    -fx-border-color: white;
    -fx-border-radius: 20;
    -fx-padding: 10 10 10 10;
    -fx-background-radius: 20;

}

#bp {
    -fx-background-color: linear-gradient(midnightblue, DimGrey);

}

#btnConnect {
    -fx-color: #ffffff;
    -fx-padding: 5px 20px;
    -fx-background-color: linear-gradient(to bottom, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    -fx-opacity: 1;
}

#btnConnect:hover {
    -fx-cursor: hand;
    -fx-opacity: 0.5;
}

#btnConnect:pressed {
    -fx-opacity: 1;
    -fx-padding: 5px 20px;
    -fx-spacing: 10px;
    -fx-start-margin: 10px;
    -fx-background-color: linear-gradient(to bottom, #ffe49e 0%, #ffb700 3%, #ffad00 35%, #ff9000 97%, #e27f00 100%);
    -fx-font-family: 'Open Sans', sans-serif;
    -fx-cursor: hand;
}

#text {
    -fx-fill: linear-gradient(#ffd65b, #e68400),
    linear-gradient(#ffea6a, #efaa22),
    linear-gradient(#ffe657 0%, #f8c202 50%, #eea10b 100%),
    linear-gradient(from 0% 0% to 15% 50%, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0));
    -fx-effect: dropshadow(one-pass-box, rgba(0, 0, 0, 0.9), 1, 0.0, 0, 10);
    -fx-font-size: 60;
}

#ip {
    -fx-font-size: 20;
}

#port {
    -fx-font-size: 20;
}

.mode-buttons{
    -fx-background-color: #FF0000;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.9), 3, 0, 1, 1);
    -fx-background-radius: 10px 0 0 10px;
}
.proactive-button{
    -fx-background-radius: 0 10px 10px 0 ;
}

.mode-buttons:selected{
    -fx-background-color: #00FF00;
}